{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "css"
        ],
        "plugins": [
          "line-numbers",
          "match-braces"
        ],
        "theme": "coy",
        "css": true
      }
    ]
  ]
}
