{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "css"
        ],
        "plugins": [
          "line-numbers"
        ],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
