/* ----------- Common theme ----------- */

.focused {
    outline: solid rgba(255, 0, 0, 0.7);
}

.available-action {
    outline: dashed rgba(255, 0, 0, 0.5);
}

.available-action:hover {
    outline: solid rgba(255, 0, 0, 0.7);
}

.available-transitions {
    outline: dashed rgba(255, 175, 14, 0.5);
    outline-offset: 2px;
}

.available-transitions:hover {
    outline: solid rgba(255, 175, 14, 0.7);
}

.token.sub {
    position: relative;
    top: 0.8ex;
    font-size: 75%;
}

.token.sup {
    position: relative;
    bottom: 0.8ex;
    font-size: 75%;
}

code {
    font-family: Monaco-local, monospace !important;
    font-size: 0.8rem !important;
}
