#app {
  font-family: Helvetica, sans-serif;
}

/* Hide global scrollbar but allow scrolling */
body::-webkit-scrollbar {
  display: none;
}

h2 {
  font-weight: normal;
  font-size: 20px;
  color: #303133;
  line-height: 26px;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  font-weight: normal;
  font-size: 16px;
  color: #303133;
}

.centred-content {
  text-align: center;
}

.label-helper {
  cursor: help;
}

/* Run, Query and Batch status */

.color-completed {
  color: #67C23A;
}

.color-waiting {
  color: #909399;
}

.color-internal_error {
  color: #F56C6C;
}

.color-canceled {
  color: #E6A23C;
}

.color-in_progress {
  color: #409EFF;
}

/* Definition list */

dl.in-line {
  display: grid;
  grid-template-columns: auto 1fr;
}

dl.in-line dt {
  text-align: right;
  font-weight: bold;
  color: #303133;
  align-self: center;
}
dl.in-line dt:after {
  content: ":";
}
dl.in-line dd {
  text-align: left;
  padding-left: 1em;
  margin-inline-start: initial;
  align-self: center;
}
